@font-face {
    font-family: "cursedTimer";
    src: url("fonts/CursedTimerUlil-Aznm.ttf")
}

html {
   margin : 0;
   padding: 0;

   font-size: 62.5%;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;

    background: #7C3AED;

}

#board-container {
    display: flex;
    justify-content: center;


    height: 90%;
    width: 100%;
}

.teams {
    display: inherit;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 90%
}

.team-name {
    font-size: 8rem
}

.text-font {
    font-family: "cursedTimer";
}

.score-container {
    display: inherit;
    justify-content: center;
    align-items: center;
    background: #4C1D95;
    width: 50%;
    height: 40%;
    border-radius: 10px;
}

.score {
    color: #10B981;
    font-size: 12rem;
    text-align: center;
}

.add-points {
    display: inherit;
    justify-content: inherit;
    height: 10%;
    width: 60%;
}

.point-btn{
    height: 85%;
    width: 15%;
    border: 2px solid #A7F3D0;
    color: #A7F3D0;
    
    font-size: 2rem;
}

.btn {
    border-radius: 5px;
    padding: 0;
    background: none;
}

#new-game {
    width: 50%;
    height: 8%;
    margin: 0 auto 0 auto;
    text-align: center;
}

#new-game-btn {
    height: 90%;
    width: 50%;
    border: 5px solid black;
    font-size: 3rem;
  
}